#include "rc.h"

MAIN_ICON ICON "fft.ico"

//include version information in .exe, modify these values to match your needs
1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,9,1
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "StudyAll"
			 VALUE "FileVersion", "0.9"
			 VALUE "FileDescription", "FT"
			 VALUE "LegalCopyright", "aaaa0ggmC @2023"
			 VALUE "LegalTrademarks", "https://space.bilibili.com/394099679  aaaa0ggMC"
			 VALUE "OriginalFilename", "fft.exe"
			 VALUE "ProductName", "LookingForFT"
			 VALUE "ProductVersion", "0.0.0.0.9"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0804, 2052 //ÖÐÎÄ
	 }
}
